<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Demo</title>
  </head>
  <body>
    <div class="bg">
      <div class="page-3">
        <a href="#">Services</a>
        <div class="page-3-top">
          <h2 class="page-3-heading">What Solutions We Provide to Our Valued Customers</h1>
          <button class="get-start-button" type="button">Get Started</button>
        </div>
        <div class="page-3-cards-container">
          <div class="page-3-card">
            <div class="card-start-container">
              <img src="https://res.cloudinary.com/daxizvsge/image/upload/v1717913821/Screenshot_2024-06-09_114304_ahq13f.png" alt="card-img" class="card-img" />
              <p class="card-count">01</p>
            </div>
            <h3 class="card-heading">App Development</h3>
            <p class="card-description">
              Crafted with precision,our apps blend functionality with
              elegance,ensuring seamless user experience across platforms.
            </p>
          </div>

          

          <div class="page-3-card">
            <div class="card-start-container">
              <img src="https://res.cloudinary.com/daxizvsge/image/upload/v1717913821/Screenshot_2024-06-09_114328_ct8dz4.png" alt="card-img" class="card-img" />
              <p class="card-count">02</p>
            </div>
            <h3 class="card-heading">Web Development</h3>
            <p class="card-description">
              Elevate the online presence with custom-built websites tailored to your brand's needs,captivating visitors and diving engagement.
            </p>
          </div>

          <div class="page-3-card">
            <div class="card-start-container">
              <img src="https://res.cloudinary.com/daxizvsge/image/upload/v1717913821/Screenshot_2024-06-09_114344_fkufdv.png" alt="card-img" class="card-img" />
              <p class="card-count">03</p>
            </div>
            <h3 class="card-heading">UI/UX & Graphics Design</h3>
            <p class="card-description">
              From stunning visuals to intuitive interfaces, our design solutions captivate audiences and enhance user experiences,setting your brand apart.
            </p>
          </div>

          <div class="page-3-card">
            <div class="card-start-container">
              <img src="https://res.cloudinary.com/daxizvsge/image/upload/v1717913821/Screenshot_2024-06-09_114405_vvodp3.png" alt="card-img" class="card-img" />
              <p class="card-count">04</p>
            </div>
            <h3 class="card-heading">Logo Desigining</h3>
            <p class="card-description">
              Make a lasting impression with a unique logo that encapsulates your brand identity,crafted with creativity and precision to stand out in any market.
            </p>
          </div>

          <div class="page-3-card">
            <div class="card-start-container">
              <img src="https://res.cloudinary.com/daxizvsge/image/upload/v1717913821/Screenshot_2024-06-09_114528_mets8u.png" alt="card-img" class="card-img" />
              <p class="card-count">05</p>
            </div>
            <h3 class="card-heading">Digital Marketing</h3>
            <p class="card-description">
              Our strategic digital campaigns amplify your brand's reach, diving meaningful connectons and conversions in the ever-evolving digital landscape.
            </p>
          </div>

          <div class="page-3-card">
            <div class="card-start-container">
              <img src="https://res.cloudinary.com/daxizvsge/image/upload/v1717913821/Screenshot_2024-06-09_114545_isvony.png" alt="card-img" class="card-img" />
              <p class="card-count">06</p>
            </div>
            <h3 class="card-heading">Shopify Development</h3>
            <p class="card-description">
              Seamlessly scale your online store with our Shopify solutions,empowering e-commerce success through intuitive design and robust features.
            </p>
          </div>
        </div>
      </div>

      <div class="page-4">
        <div class="page-4-inner">
            <img src = "https://res.cloudinary.com/daxizvsge/image/upload/v1717916077/Screenshot_2024-06-09_122237_umka2x.png" alt= "page-4-img" class="page-4-img"/>
            <div class="page-4-inner-2-section">
                <div class="page-4-inner-2-section-top">
                    <img src = "https://res.cloudinary.com/daxizvsge/image/upload/v1717916076/Screenshot_2024-06-09_122249_owlm6z.png" class="bar-img" alt = "bar-img"/>
                    <p class="why-choose-us-text">WHY CHOOSE US</p>
                </div>
                <h3 class="page-4-inner-2-section-heading">We create Result-Oriented Dynamic Applications.</h3>
                <p class="page-4-inner-2-section-description">Over 25 years working in IT services developing software applications and mobile apps for clients all over the world.</p>
                <div class="page-4-inner-2-cards-container">
                    <div class="page-4-inner-2-card">
                        <img src = "https://res.cloudinary.com/daxizvsge/image/upload/v1717916077/Screenshot_2024-06-09_122309_w7wkvn.png" alt = "page-4-card-img" class="page-4-card-img"/>
                        <div class="page-4-inner-2-card-contents">
                            <h3 class="page-4-inner-2-card-heading">First Growing Process </h2>
                            <p class="page-4-inner-2-card-description">At vero eos et accusamus etiusto odio prasentium</p>
                        </div>
                    </div>

                    <div class="page-4-inner-2-card">
                        <img src = "https://res.cloudinary.com/daxizvsge/image/upload/v1717916078/Screenshot_2024-06-09_122317_gampyz.png" alt = "page-4-card-img" class="page-4-card-img"/>
                        <div class="page-4-inner-2-card-contents">
                            <h3 class="page-4-inner-2-card-heading">Clean Code</h2>
                            <p class="page-4-inner-2-card-description">At vero eos et accusamus etiusto odio prasentium</p>
                        </div>
                    </div>

                    <div class="page-4-inner-2-card">
                        <img src = "https://res.cloudinary.com/daxizvsge/image/upload/v1717916079/Screenshot_2024-06-09_122337_sfpvoi.png" alt = "page-4-card-img" class="page-4-card-img"/>
                        <div class="page-4-inner-2-card-contents">
                            <h3 class="page-4-inner-2-card-heading">Well Documentation</h2>
                            <p class="page-4-inner-2-card-description">At vero eos et accusamus etiusto odio prasentium</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
